h1 {
    font-weight: normal;
    font-size: 18px;
    padding-bottom: 18px;
}

body {
    padding: 20px;
    padding-top: 60px;
}

canvas,
img {
    display: block;
    margin: 0 auto;
}

h1,
p {
    text-align: center;
}

select {
    display: block;
    margin: 22px auto 0;
}